BasedOnStyle: Microsoft
IndentWidth: '4'
TabWidth: '4'
UseTab: Always
IndentAccessModifiers: false
AccessModifierOffset: '-4'
BreakBeforeConceptDeclarations: Always
AlwaysBreakTemplateDeclarations: 'Yes'
