.title {
	font-size: 5em;
}

p {
	font-size: 3em;
}

.button {
	font-weight: 900;
	font-size: 25px;
	text-transform: uppercase;
	color: #202020;
	background-color: #e0e0e0;
	border-radius: 20px 20px 20px 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
	background: 0x202020;
	border: transparent;
	outline: transparent;
	cursor: pointer;
	transition-duration: 300ms;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button:hover {
	color: #ffffff;
	background-color: #202020;
	border-radius: 15px 15px 15px 15px;
}
